<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>🌦Weather Now</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="date">
    <h1 id="client-date"></h1>
  </div>
  <form action="/" method="post">
    <input type="text" name="city" placeholder="Enter City Name To Get Weather Information" autocomplete="off">
    <button class="button" type="submit" name="button">Submit</button>
  </form>
  <footer>Designed by Jonas Png</footer>
  <script src="client.js" charset="utf-8"></script>
</body>

</html>
